*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: garamond;
}

body {
  background-color: #040009;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 10px 20px; */
}

.logout-btn {
  background-color: #8e4ec6;
  color: #e5d3f2d1;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-size: large;
  margin-right: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #e5d3f2d1;
  color: #8e4ec6;
  transition: 200ms;
}

.home-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust height to fill the rest of the screen */
  padding: 10px;
  gap: 10px;
}

.top-container {
  flex: 1; /* This will take the top half */
  border: 1px solid rgba(255, 255, 255, 0.244);
  background-color: #37006e21;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

@media screen and (max-width: 600px) {
  .top-container {
    flex-direction: column;
  }
  .bottom-container {
    flex-direction: column;
  }
}

.bottom-container {
  flex: 1; /* This will take the bottom half */
  display: flex;
  gap: 10px;
}

.bottom-left {
  /* flex: 1; */
  width: 35%;
  border: 1px solid rgba(255, 255, 255, 0.244);
  background-color: #37006e21;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 350px; 
}

.bottom-right {
  flex-grow: 1; /* This takes the right half of the bottom container */
  border: 1px solid rgba(255, 255, 255, 0.244);
  background-color: #37006e21;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}



.student-name {
  color: #e5d3f2d1;
  font-size: larger;
  justify-items: flex-start;
}

.student-info {
  padding: 30px;
  color: #e5d3f2d1;
  font-size: 2em;
}

#radar-chart {
  height: 100%;
  /* width: 100%; */
}

#level {
  display: flex;
  justify-content: center; /* Center the circle */
  align-items: center;
  height: 200px; 
  width: 200px;  
  position: relative;
  margin-right: 30px;
}

/* Style the level container (the overall ring) */
.gradient-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(50deg, rgba(142,78,198,1) 29%, rgba(16,139,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  animation: gradientAnimation 5s linear infinite;
}

/* Inner white circle */
.inner-circle {
  position: absolute;
  width: 150px;   /* Adjusted size */
  height: 150px;  /* Adjusted size */
  background-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Percentage text */
.percentage {
  font-size: 4em; /* Adjusted font size for better visibility */
  color: #040009;
  /* font-weight: bold; */
  font-family: garamond;
}

h5 {
  color: #0400097a;
}